/* CSS code */
.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* height: 100vh; This will make the container take the full viewport height */
  }
  
  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 2px solid black; */
  }
  .main{
    display: flex;
  }
  .right{
    width: 150px;
  }